
// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.

  #navigation_bar {
    background-color: #5aacdd;
}
.subnavigation a {
    color:#fff;
}
.footer {
    background: #5aacdd
};
img.logofooter {
    max-width: 100px;
    opacity: 0.9;
}
.top-bar .top-bar-title a img {
    max-width: 150rem;
    max-height: 8rem;
}
.container-logo-footer {
    max-width: 100px;
    margin-left: 33%;
    padding-bottom: 20px;
}
.top-bar-right {
    color: #333;
}
.top-bar {
    background-color: #fff !important;
}
.top-links {
    background: #333;}

a:hover, a:active {
    text-decoration: none;
}
.subnavigation a:hover {
    background-color: #079be2;
    color: #FFF;
    padding: 11px 15px;
}
.subnavigation a {
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    padding: 11px 15px;
}

.subnavigation a.is-active {
    border-bottom: none;
} 
.subnavigation .input-group {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.copyright {
    background: #333;
}
.copyright .row {
    padding: 10px 0;
}
ul.legal.menu {
    display: flex;
}
@media (min-width: 375px){
footer .menu {
    padding-left: 25px !important;
}}
footer .menu {
    color: #fff;
}
.footer.secundario {
    background: #333;
    color: #fff;
    margin-top: 0px;
    height: 100px;
    padding-top: 10px;
}
.subfooter.row.secundary {
    border-top: none;
}
.logofooter2 {
    max-width: 50px;
}
.subfooter.row.secundary {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-2.secundary {
    padding-left: 40%;
}
.col-lg-5.secundary {
    padding-left: 20%;
}
#search_text {
    background-color: #f3f3f3;
     margin-bottom: 1rem;
   width: 90px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    color: #333;
}
.home {
    color: #fff;
    font-family: 'muli-regular',sans-serif;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.6);
}

.card.small-12.medium-4.column.margin-bottom.end {
    padding-top: 20px;
}

.jumbo {
    background: #f3f3f3;
    height: 550px;
}
.home-page .background-header, .custom-page .background-header, .sdg-goal-show .background-header, .sdg-goals-index .background-header {
    background: transparent;

}
.lead {
    font-size: 1.2rem;
}
.jumbo.header-card {
    position: relative;
    background-image: url("https://transparencia.archena.es/storage/uploads/1653979426puente.jpg");
    height: 500px;
    padding-top: 10px;
}
.cajaHeader1 {
    background-color: #5aacdd;
    margin-left: 5px;
    padding: 20px;
    width: 33.33%;
}
.cajaHeader2 {
    background-color: #5aacdd;
    margin-left: 5px;
    padding: 20px;
    width: 33.33%;
}
.row.cajas-header {
    display: flex;
    margin-right: 4px;
    margin-left: 4px;
}
.figure-card .gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 100%, black 10%);
}
.figure-card figcaption {
    color: #333;

}
.home-page .card {
    border: 1;
    box-shadow: 0px 0px 6px 0px rgba(179, 179, 179, 9);
}
.home-page .card a:hover, .custom-page .card a:hover, .sdg-goal-show .card a:hover, .sdg-goals-index .card a:hover {
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0);
    text-decoration: none;
}

element {

}
body.public {

    margin-left: calc(50vw - 37.5rem);
    margin-right: calc(50vw - 37.5rem);

}
body {

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1.0625rem;
    min-height: 100%;

}
html, body {

    margin: 0;
        margin-right: 0px;
        margin-left: 0px;

}
body {

    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" ;

}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Montserrat", Sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #444;
}
element {

}
.home-page h2.title {
    border-top: none;
    font-size: 1.6rem;

}
